.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.to-do-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.app-header {
  background-color: #272343;
  width: 100vw;
  height: 100px;
}

.app-footer {
  background-color: #272343;
  width: 100vw;
}

.to-do-grid {
  display: grid;
  grid-template-rows: 480px auto auto auto;
  justify-items: center;
}

.create-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background-color: #bae8e8;
  width: 300px;
}

.priority-container {
  width: 100%;
}

.toDoListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  width: minmax(300px, 70vw);
}

.toDoElementGrid {
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: #bae8e8;
  background-color: #272343;
  color: white;
  padding: 20px;
  width: 400px;
  margin: 20px;
  max-height: 100%;
}

.empty-fields-warning {
  color: rgb(174, 3, 3);
  margin: 20px;
}

/* Rendered To Do Items */

.task {
  color: #fdd803;
  font-weight: 600;
  font-size: larger;
  margin-bottom: 20px;
  text-decoration: underline;
}

.priority {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: small;
}

.category {
  font-size: small;
}
