@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Playwrite GB S", cursive;
}

#root {
  background-color: #f3fbfb;
  background-image: url("../public/images/shattered.png");
  display: flex;
  flex-direction: column;
  height: 100%;
}

input,
textarea,
select,
button {
  font-family: "Playwrite GB S", cursive;
}

input,
textarea,
select {
  width: 100%;
}
