@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Playwrite GB S", cursive;
}

#root {
  background-color: #f3fbfb;
  height: 100vh;
  width: 100vw;
}

input,
textarea,
select,
button {
  font-family: "Playwrite GB S", cursive;
}

input,
textarea,
select {
  width: 100%;
}
